body {
    background: linear-gradient(to left, rgba(11, 11, 11, 0.629), rgba(16, 15, 15, 0.205));
}

.heading-section {
    font-size: 2.3rem;
    font-weight: bold;
    color: #1877f2;
}

.social-icon {
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
    padding: 10px 30px;
    margin: 0 12px;
}

i {
    font-size: 1.4rem;
}

.google {
    background-color: #4285F4;
}

.apple {
    background-color: #9B9B9B;
}

.policy-text {
    font-size: 0.875rem;
}

.error {
    color: red;
    font-size: 90%;
    margin-top: 5px;
    margin-bottom: 10px;
}